.searchContainer {
  width: 25%;
  height: 310px;
  position: sticky;
  right: 0;
  top: 0;
  overflow: hidden;

  .tagsContainer {
    margin-top: 10px;

    .tag {
      margin: 4px;
    }
  }

}


