.listContainer{

}

.itemContainer{
    padding: 0 0 10px 0 !important;
    display: flex !important;
}

.checkbox{
    margin-right: 15px;
}

.userFields{
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
}

