.listContainer {
    margin: 0 0 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.collectionContainer {
    max-width: 900px;
    margin-bottom: 10px;
    height: 300px;
    transition: transform .2s;
    cursor: pointer;
}

.collectionContainer:hover{
    opacity: 0.8;
    transform: scale(1.01);

}

.collection {
    display: flex;
}

.fieldsBox {
    margin-left: 15px;
}

.title{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}

.field{
    font-weight: bolder;
}



.itemContainer > div {
    padding: 10px !important;
}

.descriptionContainer {
    margin-top: 10px;
    font-size: 12px;
    max-height: 100px;
    overflow: hidden;
}




