.container > div {
  @media (max-width: 350px) {
    padding: 4px !important;
  }
}

.cardHeader {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 5px;
  border-bottom: 1px solid #13C2C2;
}

.image {
  padding-right: 10px;
}

.miniFieldsBox {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 5px;
  border-bottom: 1px solid #13C2C2;
}

.title{
  font-size: 25px;
}

.like {
  font-size: 20px;
}

.miniFieldsBox > div {
  padding-right: 20px;
}

