.activeNavLink{
    color: #ffffff !important;
    text-decoration: underline !important;
    font-size: 16px;
    font-weight: bold;
}

.navLink{
    font-size: 16px;
    font-weight: bold;
    color: rgb(190, 190, 190) !important;
    &:hover{
        color: white !important;
    }
}